.todo-list {
  display: flex;

  &__li {
    display: flex;
    place-content: space-between;

    &:nth-child(2n) {
      background: rgb(233, 233, 233);
    }
  }

  &__li__text {
    max-width: 80%;
    overflow: auto;
  }
}
